<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To do Lists</title>
</head>
<body>
    <!-- <% if (kindofday==="Saturday"||kindofday==="Sunday"){ %>
        <h1 style="color:purple"><%= kindofday %> Todo List</h1>
    <% } else { %>
        <h1 style="color:blue"><%=kindofday %> Todo List</h1>
    <% } %>
     -->
     <div class="box" id="heading">
        <h1><%=kindofday%></h1>
     </div>
     <div class="box">
        <%for(var i=0;i<newlistitems.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%=newlistitems[i]%></p>
            </div>   
            
    
           <% } %>
         </ul >
         <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
     </div>
     
    
</body>
</html> 